#webSiteTitle{
    color: #793698;
    font-size: 29px;
 }
#menuTitle{
    color: #793698;
    font-size: 18px;
}
 #navBarBackground{
     background-color: #d6b4e7;
     min-height: 70px;
 }

#navLinks{
    color: #793698;
}